<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 

    <section class="container">
        <form action="" id="my-form">
            <label for="">Selling Price</label>
            <input type="number" id="num">
            <label for="">Product Name</label>
            <input type="text" id="name">
            <input type="submit" value="Add Products">
        </form>

        <h1>Products</h1><br>
        <ul id="products"></ul><br>

        <h5>Total Value worth of Products</h5>
        <input type="number" id="price2">
    </section>


    <script src="expense.js"></script>
</body>
</html>